<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
  <div>
    <p class="moduleContentModuleTitle">Gembala Kami</p>
    <p class="moduleContentTitle">Pdm. E. Pranawa</p>
    <div>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+628128443322">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://www.instagram.com/eliezer_setiawan">
        <img class="contactSocialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://wa.me/628128443322/?text=Halo%20Pak%20Prana">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a>
    </div>
    <p class="moduleContentText moduleContentTextHalf">
      Saya menganalogikan gereja Tuhan sebagai sebuah rumah. Agar dapat berdiri kokoh, rumah harus dibangun di atas
      pondasi yang tepat dan kuat, tersusun dari banyak bata yang tahan terhadap tekanan, diikat menjadi satu oleh
      semen terbaik, tentu memiliki atap untuk menaungi.<br>
      Demikian halnya gereja Tuhan akan berdiri kokoh apabila dibangun di atas dasar Yesus Kristus, tersusun dari
      jemaat yg kuat terhadap berbagai tekanan hidup dan diikat oleh kasih Kristus yang mempersatukan. Pemuridan
      menjadi proses penting yang harus dijalani dengan sikap hati penyembahan kepada Tuhan. Sebagai gembala, saya
      memimpin jemaat menjadi murid Kristus yang memiliki hati penyembah.
    </p>
  </div>
</div>

<!-- Module Title -->
<app-module-vertical-title [moduleTitle]="moduleTitle" #moduleTitleVertical></app-module-vertical-title>

<!-- Module Content Menu Links -->
<app-module-menu [moduleSectionTitle]="moduleTitle" [moduleMenuLinkList]="moduleMenuLinkList" #moduleMenuLinkContainer></app-module-menu>

<!-- Footer: Logo and Navigation -->
<app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>