<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
  <div>
    <p class="moduleContentModuleTitle">Gembala Kami</p>
    <p class="moduleContentTitle">Pdm. Eddy S.S</p>
    <p class="moduleContentText moduleContentTextHalf">
      Tuhan Yesus berkata: Gembalakanlah domba-domba-Ku. Menjadi gembala memiliki dua tugas utama, yaitu Merawat
      domba-domba-Nya dengan benar dan setia dan Menyediakan makanan terbaik bagi domba-domba-Nya.<br>
      Yang tidak boleh lupa bagi seorang gembala adalah menjadi gembala yang baik, gembala yang memberikan nyawanya
      bagi domba-dombanya, seperti teladan Sang Gembala Agung.<br>
      Menyadari bahwa domba-domba yang dipercayakan adalah domba-domba milik Tuhan.
    </p>
    <div>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6289508254328">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://wa.me/6289508254328/?text=Halo%20Pak%20Eddy">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a>
    </div>
  </div>
</div>

<!-- Module Title -->
<app-module-vertical-title [moduleTitle]="moduleTitle" #moduleTitleVertical></app-module-vertical-title>

<!-- Module Content Menu Links -->
<app-module-menu [moduleSectionTitle]="moduleTitle" [moduleMenuLinkList]="moduleMenuLinkList" #moduleMenuLinkContainer></app-module-menu>

<!-- Footer: Logo and Navigation -->
<app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>