<!-- Start your project here-->
<!--Main Navigation-->
<header>

</header>
<!--/Main Navigation-->

<!--Main layout-->
<main style="height:100vh;">
  <!--Main container-->
  <div class="container h-100">

    <!--Main Grid row-->
    <div class="row h-100">

      <!--Small Logo Column-->
      <div class="col-md-1 col-12 pt-2 pt-md-4 hidden-md-down d-flex flex-column justify-content-between">
        <!--Small Logo image -->
        <img routerLink='/' src="/assets/logo-sm-bw.png" class="img-fluid wow fadeIn cu-logo-small" data-wow-delay="0.3s" alt="Logo GKMI Anugerah">
        <!--/Small Logo image -->

        <div class="cu-vertical-text align-self-center hidden-md-down cu-title-letter-spacing">KISAH KAMI</div>

        <!-- Dummy Div Necessary to make second div vertically centered -->
        <div></div>
        <!-- /Dummy Div Necessary to make second div vertically centered -->
      </div>
      <!--/Small Logo Column-->

      <!--Main Left Grid column-->
      <div class="col-md-6 col-12 pt-2 pt-md-4 cu-mt-main-logo cu-h-90 d-flex flex-column">
        <!--Small Logo image on small device -->
        <img routerLink='/' src="/assets/logo-sm-bw.png" class="img-fluid wow fadeIn cu-logo-small d-md-none" data-wow-delay="0.3s" alt="Logo GKMI Anugerah">
        <!--/Small Logo image on small device -->
        
        <!--Logo image -->
        <img routerLink='/' src="/assets/logoAnugerah.png" class="img-fluid wow fadeIn cu-logo" data-wow-delay="0.3s" alt="Logo GKMI Anugerah">
        <!--/Logo image -->

        <!--Main Text Content-->
        <div>
          <div class="mt-5 cu-lh-1p6 wow slideInDown" data-wow-delay="0.3s">
            SEJARAH
          </div>

          <div class="mt-3 cu-lh-1p6 wow slideInDown" data-wow-delay="0.1s">
            <span>Sejarah berdirinya GKMI Anugerah</span>
            <br/>
          </div>
          
        </div>
        <!--/Main Text Content-->

        <!--Main Text Footer-->
        <div class="mt-auto cu-main-text-footer wow fadeIn d-none" data-wow-delay="0.3s">
          <div class="small mb-5">
            <span id="mainClockTime"></span>
          </div>
        </div>
        <!--/Main Text Footer-->
      </div>
      <!--/Main Left Grid column-->

      <!--Main Right Grid column-->
      <div class="col-md-5 p-0 d-flex flex-column justify-content-center border border-bottom-0">
        <div class="border border-right-0 border-left-0 cu-subsection-link-box text-muted cu-title-letter-spacing">SEJARAH</div>
        <div routerLink='/kisah' class="border border-right-0 border-left-0 cu-hoverable cu-cur-pointer cu-subsection-link-box cu-title-letter-spacing">VISI - MISI</div>
        <div routerLink='/kisah/gembala' class="border border-right-0 border-left-0 cu-hoverable cu-cur-pointer cu-subsection-link-box cu-title-letter-spacing">GEMBALA KAMI</div>
      </div>
      <!--/Main Right Grid column-->
    </div>
    <!--/Main Grid row-->

  </div>
  <!--/Main container-->
</main>
<!--/Main layout-->

<!--Footer-->
<footer>

</footer>
<!--/Footer-->
<!-- /Start your project here-->