<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
  <div>
    <!-- <p class="moduleContentModuleTitle">Persekutuan Wilayah</p> -->
    <p class="moduleContentTitle"><span>Persekutuan Wilayah</span>
    </p>
    <div class="moduleContentContact">
      <span>CP Pdt.Febrian: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+628176904755">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://www.instagram.com/febrian_christianto">
        <img class="contactSocialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://wa.me/628176904755/?text=Halo%20Pak%20Febri%2C%20tentang%20Persekutuan%20Wilayah%20GKMI%20Anugerah">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a>
    </div>

    <p class="moduleContentText moduleContentTextHalf">
      Persekutuan tengah minggu yang diadakan di rumah jemaat yg tinggalnya dalam satu wilayah secara bergantian dng
      tujuan utk sarana komunikasi, mengenal jemaat lebih dekat, sumber informasi, saling menguatkan, sharing
      pengalaman pribadi, saling mendoakan dan bersama sama belajar Firman Tuhan yg di disampaikan oleh anggota
      persekutuan dibawah supervisi Hamba Tuhannya
      <br><br>
      PW Kebun Jeruk<br>
      <span>CP Suliani: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+628164816799">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://wa.me/628164816799/?text=Halo%20Bu%20Suli%2C%20tentang%20PW%20Kebun%20Jeruk">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a><br>
      Jumat, Jam 19:30<br>
      <br>
      PW Sunter<br>
      <span>CP Yosia Effendi: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6281297976087">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://wa.me/6281297976087/?text=Halo%20Pak%20Yosia%20Effendi%2C%20tentang%20PW%20Sunter">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a><br>
      Selasa, Jam 19:30<br>
      <br>
      PW Taman Semanan<br>
      <span>CP Agus Pamudji: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6281210108630">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://wa.me/6281210108630/?text=Halo%20Pak%20Agus%2C%20tentang%20PW%20Taman%20Semanan">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a><br>
      Jumat, Jam 19:00<br>
      <br>
      PW Tanah Abang<br>
      <span>CP Yetty Herlina: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6287886670246">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://wa.me/6287886670246/?text=Halo%20Bu%20Yetty%2C%20tentang%20PW%20Tanah%20Abang">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a><br>
      Selasa, Jam 19:00<br>
      <br>
      PW Kebon Jahe<br>
      <span>CP Adolfina Duha: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6282125258059">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://wa.me/6282125258059/?text=Halo%20Bu%20Duha%2C%20tentang%20PW%20Kebon%20Jahe">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a><br>
      Rabu, Jam 18:00<br>
      <br>
      PW Jembatan Lima<br>
      <span>CP David Kristianto: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+628156508250">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://wa.me/628156508250/?text=Halo%20Pak%20David%2C%20tentang%20PW%20Jembatan%20Lima">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a><br>
      Kamis, Jam 19:00<br>
      <br>
      PW Citra Garden<br>
      <span>CP Soegijanto: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6281905000080">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://wa.me/6281905000080/?text=Halo%20Pak%20Soegijanto%2C%20tentang%20PW%20Citra%20Garden">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a><br>
      Senin, Jam 17:00<br>
      <br>
      PW Cibubur Bekasi<br>
      <span>CP Agus Rachmadi: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+628158304119">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://wa.me/628158304119/?text=Halo%20Pak%20Agus%2C%20tentang%20PW%20Cibubur%20Bekasi">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a><br>
      Sabtu, Jam 10:00<br>
      <br>
    </p>
  </div>
</div>

<!-- Module Title -->
<app-module-vertical-title [moduleTitle]="moduleTitle" #moduleTitleVertical></app-module-vertical-title>

<!-- Module Content Menu Links -->
<app-module-menu [moduleSectionTitle]="moduleTitle" [moduleMenuLinkList]="moduleMenuLinkList" #moduleMenuLinkContainer></app-module-menu>

<!-- Footer: Logo and Navigation -->
<app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>