/* Logo GKMI Anugerah */
#logoAnugerah {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}

/* Text Line Height */
.cu-lh-1p6 {
    line-height: 1.6;
}

.cu-h-90 {
    height: 90%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    .cu-h-90 {
        height: 100%;
    }
    
}

.cu-fs-sm {
    font-size: small;
}
