/* Text Line Height */
.cu-lh-1p6 {
    line-height: 1.6;
}

.cu-cur-pointer {
    cursor: pointer;
}

.cu-h-90 {
    height: 90%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    .cu-h-90 {
        height: 100%;
    }
    
}

.cu-fs-sm {
    font-size: small;
}

.cu-hoverable:hover {
    color: white;
    font-weight: bold;
    background-color: lightgray;
    -o-transition:background-color .5s ease-in, color .2s ease-in, font-weight .4s ease-in;
    -ms-transition:background-color .5s ease-in, color .2s ease-in, font-weight .4s ease-in;
    -moz-transition:background-color .5s ease-in, color .2s ease-in, font-weight .4s ease-in;
    -webkit-transition:background-color .5s ease-in, color .2s ease-in, font-weight .4s ease-in;
    transition:background-color .5s ease-in, color .2s ease-in, font-weight .4s ease-in;
}

.cu-vertical-text {
    transform: rotate(270deg);
    width: 150px;
}

/* Logo */
.cu-logo {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}

.cu-logo-small {
    display: block;
    width: 50px;
    height: 56px;
}

.cu-subsection-link-box {
    padding-left: 50px;
    vertical-align: middle;
    line-height: 80px;
    height: 80px;
    font-weight: 400;
}