// Variables

// Colors

$primaryBackgroundColor: #adadad;
$blackTransparent: rgba(255,255,255,0.35);

@font-face {
    font-family: 'montserratregular';
    src: url(/assets/font/montserrat-regular-webfont.woff2) format('woff2'),
         url(/assets/font/montserrat-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'montserratregular' !important;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
}

body {
    overflow: hidden !important;
    background-color: $primaryBackgroundColor !important;
}

a {
    text-decoration: none !important;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.bg-img-home {
    opacity: 1;
    transition: opacity 2s;
    z-index: 2;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.bg-img-home.fade-out {
    opacity: 0;
}
.bg-img-home.screen {
    background-color: rgba(45, 45, 45, 0.3);
}

.hideContent * {
    display: none !important;
    transition: 3s ease-in-out;
    transition-delay: 2s;
}

/* Content */
.mainContentContainer {
    width: 33.333%;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 30;
    left: 7vw !important;
}

.mainContentContainer > div p {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 1.6em;
    text-align: justify;
    margin-bottom: 50px;
}

.mainContentService {
    font-size: 30px !important;
    text-transform: uppercase;
}

.mainContentServiceHour {
    font-size: 35px;
    text-transform: uppercase;
}

/* Adjust Home Menu on small device */
@media (max-width: 960px) {
    .mainContentContainer {
        width: 50%;
        position: absolute !important;
        top: 35% !important;
        transform: translateY(-65%) !important;
        z-index: 30;
        left: 7vw !important;
    }

    .mainContentContainer > div p {
        font-size: 12px;
        text-align: left;
        margin-bottom: 15px;
    }

    .mainContentService {
        font-size: 20px !important;
    }

    .mainContentServiceHour {
        font-size: 25px;
    }
}

/* Adjust Home Menu on super small device */
@media (max-width: 960px) and (max-height: 650px) {
    .mainContentContainer {
        width: 50%;
        position: absolute !important;
        top: 35% !important;
        transform: translateY(-65%) !important;
        z-index: 30;
        left: 7vw !important;
    }

    .mainContentContainer > div p {
        font-size: 10px;
        text-align: left;
        margin-bottom: 15px;
    }

    .mainContentService {
        font-size: 15px !important;
    }

    .mainContentServiceHour {
        font-size: 20px;
    }
}

/* Adjust Home Menu on small device landscape */
@media (max-width: 960px) and (max-height: 420px) {
    .mainContentContainer {
        width: 80%;
        top: 38% !important;
        transform: translateY(-62%) !important;
    }
    
    .mainContentContainer > div {
        display: flex;
        flex-wrap: wrap;
    }

    .mainContentContainer > div > p {
        width: 50%;
        font-size: 10px;
        text-align: justify;
        margin-bottom: 10px;
    }
}

/* Home Menu Links */
.homeMenuLinkContainer {
    position: absolute;
    right: 7%;
    left: 50%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 31;
}
.homeMenuLinkContainer > a {
    width: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.35);
    border-left: 1px solid rgba(255, 255, 255, 0.35);
    border-top: 1px solid rgba(255, 255, 255, 0.35);
}
.homeMenuLinkContainer > a:first-child {
    border-top: none;
    border-right: none;
}
.homeMenuLinkContainer > a:nth-child(2) {
    border-top: none;
}
.homeMenuLinkContainer > a:nth-child(3) {
    border-right: none;
}

.homeMenuLink {
    position: relative;
}

.homeMenuLink > div {
    position: absolute;
    bottom: 2.4vw;
    left: 2.4vw;
    right: 2.4vw;
    z-index: 35;
}

.homeMenuLink:after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid white;
    background: #13294b;
    display: block;
    z-index: 3;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.homeMenuLink:hover:after {
    opacity: 0.6;
    transition: 0.25s ease-in-out;
}

.homeMenuLinkText {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    transform: translateY(0px);
    transition: 0.25s ease-in-out;
}

.homeMenuLink:hover .homeMenuLinkText {
    transform: translateY(-20px);
    transition: 0.25s ease-in-out;
}

/* Adjust Home Menu on small device */
@media (max-width: 960px) {
    .homeMenuLinkContainer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 50%;
        height: 50%;
    }

    .homeMenuLinkContainer > a:first-child {
        border-left: none;
        border-top: 1px solid rgba(255, 255, 255, 0.35);
    }
    .homeMenuLinkContainer > a:nth-child(2) {
        border-top: 1px solid rgba(255, 255, 255, 0.35);
    }

    .homeMenuLinkContainer > a:nth-child(3) {
        border-left: none;
    }

    .homeMenuLink {
        display: flex;
        align-items: center;
    }

    .homeMenuLink > div {
        height: auto;
        position: static;
        display: block;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

/* Footer: Logo and Navigation */
.logoAndMenu * {
    transition: 0.5s ease-in-out all !important;
}

#logo, #logoicon {
    color: white;
    z-index: 100;
    position: absolute;
}

#logoicon {
    z-index: 101;
}

.mainLogo {
    top: 40px;
    left: 7vw;
    width: 160px;
}

.cu-logo {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}

/* Adjust Logo on small device */
@media (max-width: 960px) {
    
    .mainLogo {
        top: 30px;
        left: 7vw;
        width: 160px;
    }

    .cu-logo {
        display: block;
        max-width:230px;
        max-height:55px;
        width: auto;
        height: auto;
    }
}

/* Adjust Logo on small device landscape */
@media (max-width: 960px) and (max-height: 420px) {
   
    .mainLogo {
        top: 20px;
        left: 7vw;
        width: 160px;
    }
    
    .cu-logo {
        display: block;
        max-width:230px;
        max-height:35px;
        width: auto;
        height: auto;
    }
}

.mainLogoIcon {
    top: 0px;
    width: 7vw;
    height: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: 0.5s opacity ease-in-out;
    opacity: 1;
}

.mainLogoIcon img {
    max-width: 35%;
    margin: 0 auto;
}

/* Hide Small Logo on small device */
@media (max-width: 960px) {
   
    .mainLogoIcon {
      display: none;
    }
    
}

/* Adjust Logo on small device landscape */
@media (max-width: 960px) and (max-height: 420px) {
    .mainLogoIcon {
        display: flex;
        height: 55px;
    }
}

/* menuButton */
.menuButton {
    position: fixed;
    z-index: 103;
    top: 80px;
    right: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px !important;
    letter-spacing: 2px;
    width: 7% !important;
    height: 16px;
    color: white;
}

.menuButton > div {
    height: 10px;
    width: 10px;
    margin-left: 0.35vw;
    display: inline-block;
}

.menuButton > div span {
    display: block;
    position: absolute;
    top: 8px;
    width: 10px;
    height: 1px;
    margin-top: -1px;
    background-color: white !important;
}

.menuButton > div span:first-child {
    margin-top: -5px;
}

.menuButton > div span:last-child {
    margin-top: 3px;
}

.menuButton.menuButtonOpen > div > span:first-child {
    opacity: 1;
    margin-top: -1px;
    transform: rotate(45deg);
}

.menuButton.menuButtonOpen > div > span {
    opacity: 0;
}

.menuButton.menuButtonOpen > div span:last-child {
    opacity: 1;
    margin-top: -1px;
    transform: rotate(-45deg);
}

/* Adjust Menu Button on small device */
@media (max-width: 960px) {
    .menuButton {
        top: 30px;
        right: 5vw;
        width: auto !important;
        font-size: 11px !important;
    }
}

nav {
    position: fixed;
    top: 0;
    transform: translateX(100%);
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 50;
    transition: 0.5s ease-in-out;
    -webkit-transition: all 650ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 650ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 650ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 650ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0.75s;
}

nav:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #13294b;
    opacity: 0.85;
    display: block;
    content: '';
    z-index: 49;
}

.navMenuOpen nav {
    width: 100%;
    transform: translateX(0);
    -webkit-transition: all 650ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 650ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 650ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 650ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navMenuOpen nav #contact {
    left: 4.8vw;
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 0.43s;
}

nav #contact {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 52;
    opacity: 0;
    left: 7vw !important;
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
}

nav #contact > div {
    padding: 20px 0;
    display: block;
}

nav #contact > div p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.7em;
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 1.6em;
    text-align: justify;
    opacity: 0.7;
}

nav #contact > div p a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

nav #contact > div p a:hover {
    opacity: 1;
}

/* Adjust Contact on small device */
@media (max-width: 960px) {
    nav #contact {
        top: 80%;
        transform: translateY(-20%);
    }

    nav #contact > div {
        padding: 0px;
    }

    nav #contact > div p {
        font-size: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

/* Adjust Logo on small device landscape */
@media (max-width: 960px) and (max-height: 420px) {
    nav #contact {
        top: 55%;
        transform: translateY(-45%);
    }

    nav #contact > div {
        padding: 20px 0;
    }

    nav #contact > div p {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Menu List */
nav #menuListContainer {
    position: absolute;
    left: 0;
    text-align: right;
    z-index: 54;
    top: 50%;
    transform: translateY(-50%);
    right: 7vw;
}

nav #menuListContainer li {
    list-style-type: none;
    position: relative;
    opacity: 0;
    margin-right: -200px;
    transition: 0.5s ease-in-out;
}

.navMenuOpen nav #menuListContainer li {
    margin-right: 0;
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}

nav #menuListContainer li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    padding: 5px 0;
    display: inline-block;
    opacity: 0.6;
    transition: 0.5s ease-in-out;
    font-size: calc(0.24038vw + 22.15385px) !important;
}

nav #menuListContainer li a:hover {
    opacity: 1;
    transition: 0.0125s;
}

nav #menuListContainer li.currentMenuItem a {
    pointer-events: none;
    opacity: 1;
}

.menuListItem:after {
    position: absolute;
    top: 50%;
    height: 1px;
    background: white;
    content: '';
    right: -2vw;
    width: 0vw;
    transition: 0.25s ease-in-out;
}

.menuListItem.currentMenuItem:after {
    right: -6vw;
    width: 4vw;
}
