<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
  <div>
    <p class="moduleContentModuleTitle">Kisah Kami</p>
    <p class="moduleContentTitle">Sejarah</p>
    <p class="moduleContentText">
        Pada awal tahun 1980, ada beberapa warga GKMI yang berasal dari Jawa Tengah dan telah sekian waktu lamanya berdomisili di Jakarta Barat merindukan adanya persekutuan di daerah Jakarta Barat. 
        Pada tahun 1981 mulai dipikirkan untuk mengembangkan GKMI Cideng. 
        Penyelenggaraan kebaktian mulai berjalan lancar dan jumlah jemaat pun terus bertambah bersamaan dengan makin banyaknya penduduk daerah yang bermigrasi ke Jakarta baik untuk bekerja maupun untuk studi. 
        Di antara mereka terdapat beberapa jemaat GKMI dari Semarang, Kudus, Jepara, Pati, Welahan, Salatiga, Yogyakarta, dll. 
        Mulailah dilaksanakan kegiatan-kegiatan gereja sebagaimana layaknya sebuah gereja yang sedang bertumbuh. Makin lama makin banyak professional muda dan mahasiswa yang menjadi jemaat GKMI Cideng, dan ini mau tak mau menebarkan jiwa dinamis yang senantiasa mau
        aktif, maju dan inovatif dalam perkembangan pelayanannya yang terbawa sampai sekarang. Kegiatan-kegiatan gerejawi lainnya seperti sekolah minggu, katekisasi, paduan suara,
        pendalaman Alkitab, baptisan, penyerahan anak, peneguhan pernikahan dan lain-lain, semua itu dilakukan dengan segala keterbatasan yang ada.
        Pada tahun 1985 tepatnya bulan Agustus, dibentuklah panitia pembangunan GKMI Cideng. Dan akhirnya tanggal 1 Maret 1988, GKMI Cideng didewasakan dengan nama GKMI Anugerah dan menjadi gereja ke-22 dari Sinode Muria.        
    </p>
  </div>
</div>

<!-- Module Title -->
<div id="moduleTitleVertical" class="moduleTitleVertical" #moduleTitleVertical>
  <p>Kisah Kami</p>
</div>

<!-- Module Content Menu Links -->
<div id="moduleMenuLinkContainer" class="moduleMenuLinkContainer" (click)="onModuleMenuButtonClick()" #moduleMenuLinkContainer>
  <h2 class="moduleMenuLinkSectionTitle">
    <span>Kisah kami</span>
  </h2>

  <a href="#" class="moduleMenuLinkActive" style="height: 82px;">
    <span>Sejarah</span>
  </a>
  <a href="#" class="" style="height: 82px;">
    <span>Gembala Kami</span>
  </a>
</div>

<!-- Footer: Logo and Navigation -->
<div class="bg-img-home" #backgroundImage1>
</div>
<div class="bg-img-home fade-out" #backgroundImage2>
</div>
<div class="bg-img-home screen" #backgroundImageScreen>
</div>

<div class="logoAndMenu" #logoAndMenuContainer>
  <a href="#" id="logo" class="mainLogo">
    <img src="/assets/logoAnugerah.png" class="cu-logo" alt="GKMI Anugerah">
  </a>
  <a href="#" id="logoicon" class="mainLogoIcon">
    <img src="/assets/logo-sm-bw.png" class="cu-logo-small" alt="G">
  </a>
  <a class="menuButton" (click)="onMenuButtonClick()" #menuButton>
    Menu
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
  <nav>
    <div id="contact">
      <div>
        <p>GKMI Anugerah Jakarta<br>
          Wisma Anugerah<br>
          Jl. Taman Tanah Abang III/2<br>
          10160 - Jakarta Pusat<br>
          Indonesia</p>
      </div>
      <div>
        <p class="contactTel"><a href="tel:+62 21 3844 777">(021) 3844 777</a></p>
        <p><a href="mailto:elroianugerah@gmail.com">elroianugerah@gmail.com</a></p>
      </div>
      <div>
        <a class="socialIconButtonLinkNav" target="_blank" href="https://instagram.com/gkmi_anugerah">
          <img class="socialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
        </a>
        <a class="socialIconButtonLinkNav" target="_blank" href="https://goo.gl/maps/aPQFoLxrTEo">
          <img class="socialIconButtonNav" src="/assets/img/location-circle-w.png" alt="IG">
        </a>
      </div>
    </div>
    <div id="menuListContainer">
      <ul id="menuList" class="menuList">
        <li class="menuListItem">
          <a routerLink='/' href="#">Home</a>
        </li>
        <li class="menuListItem currentMenuItem">
          <a href="#">Kisah Kami</a>
        </li>
        <li class="menuListItem">
          <a href="#">Komunitas</a>
        </li>
        <li class="menuListItem">
          <a href="#">Persekutuan</a>
        </li>
      </ul>
    </div>
  </nav>
</div>