<!-- Start your project here-->
<!--Main Navigation-->
<header>

</header>
<!--/Main Navigation-->

<!--Main layout-->
<main style="height:100vh;">
    <!--Main container-->
    <div class="container h-100">

        <!--Main Grid row-->
        <div class="row h-100">

            <!--Small Logo Column-->
            <div class="col-md-1 col-12 pt-2 pt-md-4 hidden-md-down">
                <!--Small Logo image -->
                <img src="/assets/logo-sm-bw.png" class="img-fluid wow fadeIn cu-logo-small" data-wow-delay="0.3s" alt="Logo GKMI Anugerah">
                <!--/Small Logo image -->
            </div>
            <!--/Small Logo Column-->

            <!--Main Left Grid column-->
            <div class="col-md-6 col-12 pt-2 pt-md-4 cu-mt-main-logo cu-h-90 d-flex flex-column">
                <!--Small Logo image on small device -->
                <img src="/assets/logo-sm-bw.png" class="img-fluid wow fadeIn cu-logo-small d-md-none" data-wow-delay="0.3s" alt="Logo GKMI Anugerah">
                <!--/Small Logo image on small device -->

                <!--Logo image -->
                <img src="/assets/logoAnugerah.png" class="img-fluid wow fadeIn cu-logo" data-wow-delay="0.3s" alt="Logo GKMI Anugerah">
                <!--/Logo image -->

                <!--Main Text Content-->
                <div>
                    <div class="pt-5 cu-lh-1p6 wow slideInDown" data-wow-delay="0.3s">
                        IBADAH MINGGU
                        <br>
                    </div>

                    <div class="mt-3 cu-lh-1p6 wow slideInDown" data-wow-delay="0.1s">
                        <span class="h3">07:30</span>
                        <br>
                        <span class="cu-fs-sm">(Sunday service, anugerah kids)</span>
                    </div>
                    <div class="mt-2 cu-lh-1p6 wow slideInDown" data-wow-delay="0.2s">
                        <span class="h3">10:00</span>
                        <br>
                        <span class="cu-fs-sm">(Sunday service)</span>
                    </div>
                </div>
                <!--/Main Text Content-->

                <!--Main Text Footer-->
                <div class="mt-auto cu-main-text-footer wow fadeIn d-none" data-wow-delay="0.3s">
                    <div class="small mb-5">
                        <span id="mainClockTime"></span>
                    </div>
                </div>
                <!--/Main Text Footer-->
            </div>
            <!--/Main Left Grid column-->

            <!--Main Right Grid column-->
            <div class="col-md-5 h-100 d-none d-md-block">
                <div class="row h-50 hidden-md-down">
                    <div routerLink='/kisah' class="col-md-6 border border-top-0 d-flex cu-hoverable cu-cur-pointer">
                        <span routerLink='/kisah' class="align-self-end mb-4 wow fadeIn cu-title-letter-spacing" data-wow-delay="0.3s">KISAH KAMI</span>
                    </div>
                    <div routerLink='/persekutuan' class="col-md-6 border border-top-0 d-flex cu-hoverable cu-cur-pointer">
                        <span routerLink='/persekutuan' class="align-self-end mb-4 wow fadeIn cu-title-letter-spacing" data-wow-delay="0.3s">PERSEKUTUAN</span>
                    </div>
                </div>
                <div class="row h-50 hidden-md-down">
                    <div routerLink='/komunitas' class="col-md-6 border border-bottom-0 d-flex cu-hoverable cu-cur-pointer">
                        <span routerLink='/komunitas' class="align-self-end mb-4 wow fadeIn cu-title-letter-spacing" data-wow-delay="0.3s">KOMUNITAS</span>
                    </div>
                    <div class="col-md-6 border border-bottom-0 d-flex flex-column">
                        <div class="pt-4 wow fadeIn d-flex flex-column" data-wow-delay="0.3s">
                            <span class="cu-fs-sm">Jam Kerja</span>
                            <div class="d-flex justify-content-end">    
                                <span class="mr-auto cu-fs-sm text-muted">Selasa-Sabtu</span>
                                <span class="cu-fs-sm">09:00-17:00</span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <span class="mr-auto cu-fs-sm text-muted">Minggu</span>
                                <span class="cu-fs-sm">07:00-12:00</span>
                            </div>

                            <div class="d-flex justify-content-end mt-4">
                                <span class="mr-auto cu-fs-sm text-muted">(021) - 3844777</span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <span class="mr-auto cu-fs-sm text-muted">elroianugerah@gmail.com</span>
                            </div>
                            <div class="mt-4 cu-fs-sm">
                                GKMI Anugerah Jakarta
                                <br> Wisma Anugerah
                                <br> Jl. Taman Tanah Abang III/2
                                <br> Jakarta Pusat
                                <br> 10160 - Indonesia
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Main Right Grid column-->
        </div>
        <!--/Main Grid row-->

        <!--Mobile Grid row-->
        <div class="row d-md-none">
            <div routerLink='/kisah' class="col-12 d-flex justify-content-left border border-dark p-2">
                <span routerLink='/kisah' class="cu-hoverable cu-cur-pointer cu-title-letter-spacing">KISAH KAMI</span>
            </div>
        </div>
        <div class="row d-md-none">
            <div routerLink='/persekutuan' class="col-12 d-flex justify-content-left border border-dark p-2">
                <span routerLink='/persekutuan' class="cu-hoverable cu-cur-pointer cu-title-letter-spacing">PERSEKUTUAN</span>
            </div>
        </div>
        <div class="row d-md-none">
            <div routerLink='/komunitas' class="col-12 d-flex justify-content-left border border-dark p-2">
                <span routerLink='/komunitas' class="cu-hoverable cu-cur-pointer cu-title-letter-spacing">KOMUNITAS</span>
            </div>
        </div>
        <div class="row d-md-none">
            <div class="col-12 border border-dark">
                <div class="p-2 d-flex flex-column">
                    <span class="cu-fs-sm wow fadeIn">Jam Kerja</span>
                    <div class="d-flex justify-content-end wow fadeIn">
                        <span class="mr-auto cu-fs-sm text-muted">Selasa-Sabtu</span>
                        <span class="cu-fs-sm">09:00-17:00</span>
                    </div>
                    <div class="d-flex justify-content-end wow fadeIn" data-wow-delay="0.1s">
                        <span class="mr-auto cu-fs-sm text-muted">Minggu</span>
                        <span class="cu-fs-sm">07:00-12:00</span>
                    </div>

                    <div class="d-flex justify-content-end mt-4 wow fadeIn" data-wow-delay="0.1s">
                        <span class="mr-auto cu-fs-sm text-muted">(021) - 3844777</span>
                    </div>
                    <div class="d-flex justify-content-end wow fadeIn" data-wow-delay="0.1s">
                        <span class="mr-auto cu-fs-sm text-muted">elroianugerah@gmail.com</span>
                    </div>
                    <div class="mt-4 cu-fs-sm wow fadeIn" data-wow-delay="0.1s">
                        GKMI Anugerah Jakarta
                        <br> Wisma Anugerah
                        <br> Jl. Taman Tanah Abang III/2
                        <br> Jakarta Pusat
                        <br> 10160 - Indonesia
                    </div>
                </div>
            </div>
        </div>
        <!--/Mobile Grid row-->

    </div>
    <!--/Main container-->
</main>
<!--/Main layout-->

<!--Footer-->
<footer>

</footer>
<!--/Footer-->
<!-- /Start your project here-->