<!-- Content -->
<div class="mainContentContainer" id="homePage" #mainContentContainer>
  <div>
    <p class="mainContentService">Ibadah Minggu</p>
    <p><span class="mainContentServiceHour">07:30</span><br>
      (sunday service, anugerah kids, anugerah teens)
    </p>
    <p class="mainContentDummy"></p>
    <p><span class="mainContentServiceHour">10:00</span><br>
      (sunday service)
    </p>
  </div>
</div>

<!-- Home Menu Links -->
<div class="homeMenuLinkContainer" #homeMenuLinkContainer>
  <a href="/" class="homeMenuLink">
    <div>
      <p class="homeMenuLinkText">Kisah Kami</p>
    </div>
  </a>
  <a href="/" class="homeMenuLink">
    <div>
      <p class="homeMenuLinkText">Komunitas</p>
    </div>
  </a>
  <a href="/" class="homeMenuLink">
    <div>
      <p class="homeMenuLinkText">Persekutuan</p>
    </div>
  </a>
  <a href="#" class="homeMenuLink homeMenuLinkKontak">
    <div>
      <p class="homeMenuLinkTextKontak homeMenuLinkTextKontakJamKerjaTitle">Jam Kerja</p>
      <p class="homeMenuLinkTextKontak homeMenuLinkTextKontakJamKerjaDetail">
        <span>Senin-Jumat</span>
        <span class="homeMenuLinkTextKontakJamKerjaDetailJam">09:00-17:00</span>
        <br>
        <span>Sabtu-Minggu</span>
        <span class="homeMenuLinkTextKontakJamKerjaDetailJam">09:00-12:00</span>
      </p>
      <p class="homeMenuLinkTextKontak homeMenuLinkTextKontakTel"><a href="tel:+62 21 3844 777">(021) 3844 777</a></p>
      <p class="homeMenuLinkTextKontak homeMenuLinkTextKontakEMail"><a href="mailto:elroianugerah@gmail.com">elroianugerah@gmail.com</a></p>
      <p class="homeMenuLinkTextKontak homeMenuLinkTextKontakDetail">GKMI Anugerah Jakarta<br>
        Wisma Anugerah<br>
        Jl. Taman Tanah Abang III/2<br>
        10160 - Jakarta Pusat<br>
        Indonesia</p>
        <a class="socialIconButtonLink" target="_blank" href="https://instagram.com/gkmi_anugerah">
          <img class="socialIconButton" src="/assets/img/instagram-circle-w.png" alt="IG">
        </a>
        <a class="socialIconButtonLink" target="_blank" href="https://goo.gl/maps/aPQFoLxrTEo">
          <img class="socialIconButton" src="/assets/img/location-circle-w.png" alt="IG">
        </a>
    </div>
  </a>
</div>

<!-- Footer: Logo and Navigation -->
<div class="bg-img-home" #backgroundImage1>
</div>
<div class="bg-img-home fade-out" #backgroundImage2>
</div>
<div class="bg-img-home screen" #backgroundImageScreen>
</div>

<div class="logoAndMenu" #logoAndMenuContainer>
  <a href="#" id="logo" class="mainLogo">
    <img src="/assets/logoAnugerah.png" class="cu-logo" alt="GKMI Anugerah">
  </a>
  <a href="#" id="logoicon" class="mainLogoIcon">
    <img src="/assets/logo-sm-bw.png" class="cu-logo-small" alt="G">
  </a>
  <a class="menuButton" (click)="onMenuButtonClick()" #menuButton>
    Menu
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
  <nav>
    <div id="contact">
      <div>
        <p>GKMI Anugerah Jakarta<br>
          Wisma Anugerah<br>
          Jl. Taman Tanah Abang III/2<br>
          10160 - Jakarta Pusat<br>
          Indonesia</p>
      </div>
      <div>
        <p class="contactTel"><a href="tel:+62 21 3844 777">(021) 3844 777</a></p>
        <p><a href="mailto:elroianugerah@gmail.com">elroianugerah@gmail.com</a></p>
      </div>
      <div>
          <a class="socialIconButtonLinkNav" target="_blank" href="https://instagram.com/gkmi_anugerah">
            <img class="socialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="https://goo.gl/maps/aPQFoLxrTEo">
            <img class="socialIconButtonNav" src="/assets/img/location-circle-w.png" alt="IG">
          </a>
      </div>
    </div>
    <div id="menuListContainer">
      <ul id="menuList" class="menuList">
        <li class="menuListItem currentMenuItem">
          <a href="/">Home</a>
        </li>
        <li class="menuListItem">
          <a href="/">Kisah Kami</a>
        </li>
        <li class="menuListItem">
          <a href="/">Komunitas</a>
        </li>
        <li class="menuListItem">
          <a href="/">Persekutuan</a>
        </li>
      </ul>
    </div>
  </nav>
</div>